* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  max-width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  background-color: gray;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, sans-serif;
}
.bold {
  font-weight: 550;
}
.resume {
  width: 50vw;
  height: 70.71vw;
  max-height: 70.71vw;
  margin: 5vw auto;
  padding: 0.5vw 2.5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  position: relative;
}
.page-count {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 1vw;
  font-style: italic;
  color: gray;
  bottom: 1vw;
  left: 0;
}
.personal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25vw;
}
.name {
  font-size: 2.2vw;
  height: fit-content;
}
.designation {
  font-size: 1.25vw;
  height: fit-content;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  flex-wrap: wrap;
  width: 100%;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35vw;
  font-size: 1vw;
}
.icon {
  font-size: 0.85vw;
}
.contact a {
  color: black;
}
.contact a:hover {
  color: black;
}
.contact a:visited {
  color: black;
}
.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75vw;
  margin-bottom: 2.5vw;
  flex: 1;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.1vw;
}
.title {
  font-size: 1.5vw;
  font-weight: 550;
  width: 100%;
  text-align: start;
}
.title::after {
  content: "";
  width: 100%;
  height: 0.1vw;
  display: block;
  background-color: black;
  margin-bottom: 0.35vw;
  margin-top: 0.1vw;
}
.subsection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 550;
  width: 100%;
  font-size: 1.1vw;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1vw;
  font-style: italic;
}
.content {
  font-size: 0.95vw;
}
.subsection ul {
  margin-left: 2.25vw;
}

@media (max-width: 1200px) {
  .resume {
    width: 80vw;
    height: 113.14vw;
    max-height: 113.14vw;
    margin: 8vw auto;
    padding: 0.8vw 2.5%;
    gap: 0.8vw;
  }
  .personal-info {
    gap: 0.4vw;
  }
  .name {
    font-size: 3.52vw;
  }
  .designation {
    font-size: 2vw;
  }
  .contacts {
    gap: 1.6vw;
  }
  .contact {
    gap: 0.56vw;
    font-size: 1.6vw;
  }
  .icon {
    font-size: 1.36vw;
  }
  .sections {
    gap: 1.2vw;
  }
  .section {
    gap: 0.16vw;
  }
  .title {
    font-size: 2.4vw;
  }
  .title::after {
    height: 0.16vw;
    margin-bottom: 0.56vw;
    margin-top: 0.16vw;
  }
  .top {
    font-size: 1.76vw;
  }
  .middle {
    font-size: 1.6vw;
  }
  .content {
    font-size: 1.52vw;
  }
  .subsection ul {
    margin-left: 3.6vw;
  }
}
